google-adk==0.5.0
google-cloud-firestore
google-cloud-storage
google-cloud-translate
python-dotenv
deprecated # Required by google-adk for managing versioning warnings
Flask[async]  # For running Flask asynchronously
gunicorn # For running Flask in Cloud Run
uvicorn # For running gunicorn with async workers